# Type Conversion in Python

Python defines type conversion functions to directly convert one data type to another which is useful in day-to-day and competitive programming.

This type conversion is done using type conversion functions provided by python built-ins module.

1. **`int()`**

2. **`float()`**

3. **`complex()`**

4. **`bool()`**

5. **`str()`**

**int() function**

This function is used to perform following conversions.

**`int to int`**

**`float to int`**

**`bool to int`**

**`string to int`**

**Syntax***:`int([value/variable])`

## Examples on int type conversion

In [1]:
# Example of int() function

a = int()
b= int(15)
c = int(12.56)
d=int(True)
e=int(False)
f=int("65")

In [2]:
print(a,b,c,d,e,f)

0 15 12 1 0 65

In [3]:
print("Type of a:",type(a))
print("Type of b:",type(b))
print("Type of c:",type(c))
print("Type of e:",type(e))
print("Type of f:",type(f))

Type of a: <class 'int'>
Type of b: <class 'int'>
Type of c: <class 'int'>
Type of e: <class 'int'>
Type of f: <class 'int'>

In [4]:
# write a program to input two integer values and add

a = input("Enter first value:")
b = input("Enter second value:")
c = int(a) + int(b)
print("Type of a:",type(a))
print("Type of b:",type(b))
print("Type of c",type(c))

Enter first value: 4
Enter second value: 5

Type of a: <class 'str'>
Type of b: <class 'str'>
Type of c <class 'int'>

In [29]:
var = int("1.5")
var

ValueError: invalid literal for int() with base 10: '1.5'

In [25]:
var = int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

In [9]:
b = int("Oxab")

ValueError: invalid literal for int() with base 10: 'Oxab'

In [14]:
b = int("0xab",base=16)
print(b)

171

In [17]:
c = int("0b101",base=2)
c

5

In [18]:
d = int("0o12",base=8)
d

10

## Examples on float type conversion 

This function is used to perform the following conversions

**`1. float to float`**

**`1. int to float`**

**`1. bool to float`**

**`1. string to float`**

**syntax**:`flaot([value/variable/expression])`

In [31]:
# Examples
a=float()
b=float(1.5)
c=float(15e-1)
d=float(15)
e=float("1.5")
f=float("15e-1")
g=float("15")
h=float(True)
i=float(False)

In [32]:
print("Type of a:",type(a))
print("Type of b:",type(b))
print("Type of c:",type(c))
print("Type of e:",type(e))
print("Type of f:",type(f))
print("Type of g:",type(g))
print("Type of h:",type(h))
print("Type of i:",type(i))

Type of a: <class 'float'>
Type of b: <class 'float'>
Type of c: <class 'float'>
Type of e: <class 'float'>
Type of f: <class 'float'>
Type of g: <class 'float'>
Type of h: <class 'float'>
Type of i: <class 'float'>

**complex**

This function is used to perform the following conversionsex

**`1.	Complex to complex`**

**`2.	Int to complex`**

**`3.	Float to complex`**

**`4.	Bool to complex`**

**`5.	String to complex`**

**Syntax1: `complex(real = 0.0,imag = 0.0)`**

**Syntax2: `complex(complex)`**

In [35]:
# Examples
c1=complex()
c2=complex(1+2j)
c3=complex("1+2j")
c4=complex("1")
c5=complex("2j")
c6=complex(imag=2)
c7=complex(1)
c8=complex(real=1,imag=2)
c9=complex(True)
c10=complex(False)

In [38]:
print("Type of c1:",type(c1),c1)
print("Type of c2:",type(c2),c2)
print("Type of c3:",type(c3),c3)
print("Type of c4:",type(c4),c4)
print("Type of c5:",type(c5),c5)
print("Type of c6:",type(c6),c6)
print("Type of c7:",type(c7),c7)
print("Type of c8:",type(c8),c8)
print("Type of c9:",type(c9),c9)
print("Type of c10:",type(c10),c10)

Type of c1: <class 'complex'> 0j
Type of c2: <class 'complex'> (1+2j)
Type of c3: <class 'complex'> (1+2j)
Type of c4: <class 'complex'> (1+0j)
Type of c5: <class 'complex'> 2j
Type of c6: <class 'complex'> 2j
Type of c7: <class 'complex'> (1+0j)
Type of c8: <class 'complex'> (1+2j)
Type of c9: <class 'complex'> (1+0j)
Type of c10: <class 'complex'> 0j

## Examples on bool type conversion

**bool**
This function is used to perform the following conversions

**`1.	Bool to bool`**

**`2.	Int to bool`**

**`3.	Float to bool`**

**`4.	Complex to bool`**

**`5.	Str to bool`**

b1=bool()
b2=bool(True)
b3=bool(1)
b4=bool(0)
b5=bool(120)
b6=bool(-1)
b7=bool(1+2j)
b8=bool(0+0j)
b9=bool("A")
b10=bool("True")
b11=bool("False")

In [40]:
print("Type of b1:",type(b1),b1)
print("Type of b2:",type(b2),b2)
print("Type of b3:",type(b3),b3)
print("Type of b4:",type(b4),b4)
print("Type of b5:",type(b5),b5)
print("Type of b6:",type(b6),b6)
print("Type of b7:",type(b7),b7)
print("Type of b8:",type(b8),b8)
print("Type of b9:",type(b9),b9)
print("Type of b10:",type(b10),b10)
print("Type of b11:",type(b11),b11)

Type of b1: <class 'bool'> False
Type of b2: <class 'bool'> True
Type of b3: <class 'bool'> True
Type of b4: <class 'bool'> False
Type of b5: <class 'bool'> True
Type of b6: <class 'bool'> True
Type of b7: <class 'bool'> True
Type of b8: <class 'bool'> False
Type of b9: <class 'bool'> True
Type of b10: <class 'bool'> True
Type of b11: <class 'bool'> True

**NOTE**: Expect `zero` remaining numbers or  integers are True

120 = True

0 = False

-129 = True

# Examples on str() type conversion

`str()` function is used to perform the following conversionsring

**`1.	Str to str`**

**`2.	Int to str`**

**`3.	Float to str`**

**`4.	Complex to str`**

**`5.	Bool to string`**

**Syntax**:`str([value])`

In [45]:
#Example
a = str()

b = str(10)

c = str(1.5)

d = str(1+2j)

e = str(True)

f = str("PYTHON")

In [48]:
print(a,type(a))

print(b,type(b))

print(c,type(c))

print(d,type(d))

print(e,type(e))

print(f,type(f))

 <class 'str'>
10 <class 'str'>
1.5 <class 'str'>
(1+2j) <class 'str'>
True <class 'str'>
PYTHON <class 'str'>