## `+` Operator in python is used to perform two operations.

**`1. Addition`**
  
**`2. Concatenation`**

If two operands are numbers, + operator performs addition

If two operands are sequences, + operator perform concatenation

**`complex>float>int>bool`**

**int+int --> int**

**int+float --> float**

**int+float+complex --> complex**

**int+bool --> float**

**int+float+complex+bool --> complex**

### Examples on Arithemtic operators

## + Addition operator

In [3]:
# int+int --> int

a = 10+20
a

30

In [4]:
# int+float --> float

b = 1+2.5
b

3.5

In [7]:
# int+complex --> complex

c = 1+2j+3j
c

(1+5j)

In [8]:
# bool+bool --> int

e = True+True
e

2

In [9]:
# bool+int --> int

f = True+100
f

101

In [10]:
s1 = "PYTHON"
s2 = "PROGRAMMING"
s3 = s1+s2

print(s3)

PYTHONPROGRAMMING

## - Subtraction operator

This operator is used to the difference between two values, This operator is applied only on numberic type

In [12]:
# example

a = 10
b = 5
c = a-b
c

5

In [14]:
b1 = 1.5
b2 = 1.3
b3 = b1-b2
b3

0.19999999999999996

In [15]:
c1 = 1+2j
c2 = 1+1j
c3 = c1-c2
c3

1j

In [16]:
d1 = True
d2 = False
d3 = d2-d1
d3

-1

## * Operator is used to perform two operations

    `1. Multiplying numbers`
    `2. Repeating sequences`

In [17]:
# Examples

a = 5
b = 3
c = a*b
c

15

In [18]:
x = True
y = False
z = x*y
print(x,y,x)

True False True

## Float Division Operator(/)

This operator divides two numbers and return result in float.

This operator returns quotient

In [21]:
a = 4
b = 2
c = a/b
print(a,b,c)

4 2 2.0

## Floor Division Operator(//)

This operator divides two numbers and return result in integer(quotient)

Return the floor of x, the largest integer less than or equal to x

In [22]:
# example

a = 4
b = 2
c = a//b
print(a,b,c)

4 2 2

## % Module Operator

This operator divides two numbers and returns remainder.

In [23]:
a = 4
b = 2
c = a%b
print(a,b,c)

4 2 0

## ** Exponent Operator

This operator finds the `power of a number`.

In [24]:
a = 5
b = a**2
print(a,b)

5 25

## precedence of Arithemtic operators

**`1. **`**

**`2. * / // %`**
  
**`3. + `**

operators with same precedence is evaluated from left to right except for `**`, which is evaluated from `right to left`.

In [25]:
a = 3+5*5-3
print(a)

25

In [28]:
b = (3+5)*(5-3)
print(b)

16

In [31]:
c = 6*3/2//4
print(c)

2.0

In [30]:
d = 1**2**3
print(d)

1