# Tuple

Tuple is a immutable sequence data type.

After creating tuple changes cannot done, Tuple does not support mutable operations like append, insert, remove, delete etc.,

**Where tuples are used?**

1. To represent immutable list.

2. In applicaton development tuple used to represent data for other collections sets, dictonaries.

**How to create tuple>**

Tuples may be constructed in a number of ways:

1. using a pair of parentheses to denote the empty `tuple:()`

2. using a trailing coma for a singleton tuple:`a, or (a,)`

3. using the tuple() built-in `tuple()` or `tuple(iterable)`

In [1]:
tuple1=()
print(tuple1,type(tuple1))

() <class 'tuple'>

In [2]:
tuple2=(10,)
print(tuple2,type(tuple2))

(10,) <class 'tuple'>

In [3]:
tuple3=(100)
print(tuple3,type(tuple3))

100 <class 'int'>

In [5]:
tuple4=(10,20,30,40,50)
print(tuple4,type(tuple4))

(10, 20, 30, 40, 50) <class 'tuple'>

In [6]:
tuple5=(10,1.5,1+2j,"uday")
print(tuple5,type(tuple5))

(10, 1.5, (1+2j), 'uday') <class 'tuple'>

In [7]:
tuple6=tuple(range(1,6))
print(tuple6,type(tuple6))

(1, 2, 3, 4, 5) <class 'tuple'>

**Reading content of tuple**

In [10]:
tuple7=(1,2,3,4,5,6,7,8,9,10)
print("Reading using index")
for i in range(len(tuple7)):
    print(tuple7[i],end=' ')

Reading using index
1 2 3 4 5 6 7 8 9 10

**using slicing**

In [11]:
print("using slicing")
tuple8=tuple7[:5]
print(tuple8)

using slicing
(1, 2, 3, 4, 5)

**using for loop**

In [9]:
print("using for loop")
for value in tuple7:
    print(value,end=' ')

using for loop
1 2 3 4 5 6 7 8 9 10

**using enumerate**

In [12]:
print("using enumerate")
a=enumerate(tuple7)
for t in a:
    print(t)

using enumerate
(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)
(7, 8)
(8, 9)
(9, 10)

**To find siz*

In [13]:
t1=(10,20,30,40)
import sys
sys.getsizeof(t1)

72

**Note:** any object size is find in python using getsizeof() function available in sys module.