# Tokens of Python

Tokens are the `smallest units` in a Python program. Python recognizes several types of tokens:

1. Keywords

2. Identifiers

3. Literals

4. Data types

5. Operators

# Keywords

**Keywords**: Reserved words with special meanings in Python such as

In [2]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [3]:
len(keyword.kwlist)

35

`Soft keywords` are introduced in python 3.11 version.
These keywords can be used as `Identifiers`.

In [4]:
keyword.softkwlist

['_', 'case', 'match', 'type']

# Identifiers

**Identifiers**: Names used to identify `variables`, `functions`, `classes`, `Constants` , `program/module` , `package`.

Identifiers must start with a letter or underscore (`_`) followed by letters, digits, or underscores. They are `case-sensitive`.

Python is case sensitive language and finds the difference between `uppercase` and `lowercase`.

**Rules**
1. Identifier should not be keyword

In [5]:
# keyword
lambda=1

SyntaxError: invalid syntax (501637986.py, line 2)

In [7]:
# UPPER CASE
PASS=100
print(PASS)

100

**2. Identifier cannot start with digit**

In [9]:
n1=100
n1

100

In [10]:
# start with number
1n=100

SyntaxError: invalid decimal literal (1018830451.py, line 2)

**3. Only one special character is allowed `"_"`**

In [11]:
a=100

In [12]:
_a=200

In [13]:
_c=455

In [15]:
# otherthan underscore _ any special characters leads to syntax error
$amt=100

SyntaxError: invalid syntax (1057543094.py, line 2)

**4. There should not be any space between identifier**

In [16]:
student name ="uday"

SyntaxError: invalid syntax (2290507103.py, line 1)

**5. Maximum length of identifier is unlimited**

In [17]:
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq=1

**6. Identifiers can be defined in uppercase or lowercase**

In [20]:
a=100
a

100

In [21]:
A=100
A

100

# Literals and Data types

**Literal** is nothing `value/data` which never changed

**1. Numerical Literals**
   
   a. Integer Literal

   b. Float Literal

   c. Complex Literal

**2. Non Numeric Literals**
   
   a. Boolean

   b. String

   c. None

**Data types**

Data types are used to allocate memory for data/literals.
python data types are classified into two categories.

`1. Scalar Data types`

`2. Collection Data types`

`Scalar` data types are used to allocate memory for one value.

`1. int`

`2. Float`

`3. Complex`

`4. Bool`

`5. NoneType`

Collection data types are used to allocate memory for more than one value.

`1. Sequences`

`a. List`

`b. Tuple`

`c. String`

`d. Range`

`e. Bytes`

`f. Bytearray`

`2. Sets`

`a. set`

`b. frozenset`

`3. Mappings`

`a. Dictionary`

Representation of integer `value/literals` in python:

In python these integer values are represented in `4 formats`

1. Decimal integer
   
2. Octal integer

3. Hexadecimal integer

4. Binary integer

Decimal, Octal, Hexadecimal and binary are called **Number System**.
`Number System` defines set of rules and regulations for defining numbers in computer science

**Decimal Integer**

An integer value with `base 10` is called **Decimal integer**. This integer is created using digits which range from `0-9`. This integer is not prefix with 0. This integer is prefix with `+` or `-`

In [22]:
b=123
b

123

In [23]:
c=021

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3376236444.py, line 1)

**Octal Integer**

An integer value with `base 8` is called **octal integer**.
This integer is created using digits which range from `0-7`.
This integer is prefix wth `0o` or `0O`

In [24]:
x=0o12
x

10

In [25]:
type(x)

int

In [28]:
# Octal integer supports from 0-7
y=0o89

SyntaxError: invalid digit '8' in octal literal (1951594246.py, line 2)

**Applications of Octal integers**

1. Representing an integer value with does not allows 8 and 9 digits.
2. In `Assembly Language` data is represented in octal format.

**Hexadecimal Integer**

An integer value with base 16 is called `Hexadecimal integer`.
This integer prefix with `0x` and `0x`.
This integer is created using digits range from `0-9` and `a-f/A-F`, Larger integer values are represented in `Hexadecimal format`.

Applications

1. Color values

2. Memory Address

3. Register Address

In [30]:
n1=0xab
n1

171

In [32]:
n2=0XABC
n2

2748

In [33]:
n3= 0xbad
n3

2989

In [35]:
# a-f/A-F supports in hexadecimal integer
n4= 0xabg
n4

SyntaxError: invalid hexadecimal literal (3454064783.py, line 2)

**Binary Integer**

An integer values with `base 2` is called `Binary integer`.

This integer is prefix with `0b` or `0B`. 

This integer is created using `0` and `1`.

In [36]:
a=0b1010
a

10

In [37]:
b=0b101
b

5

In [39]:
# integer with rather than 0 and 1 it gives error
c=0b10102
c

SyntaxError: invalid digit '2' in binary literal (189229240.py, line 2)

**Applications of Binary Integer**

`1. Machine Learning`

`2. Low Level Programming/Embedded Applications`

**Float Literal and Float Data Type**

Float value is numeric value wih `FRACTIONAL part` or `DECIMAL part`.
Float data, ,memory is allocated by `float data type`.

In [40]:
a=1.5
b=2.0

In [42]:
print(type(a))
print(type(b))

<class 'float'>
<class 'float'>

In python float values are represented in `2 formats`.

`1. Fixed format`

`2. Exponent format/Scientific format`

Fixed notation is a default notation of flaot value.

`1. Integer part`

`2. Decimal part`

In `Scientific notation/Exponent` notation there is one special character is used `e`.

Larger values represented in exponent nototion. The value of "E" is `10`.

In [44]:
a=3147e-3
a

3.147

In [45]:
b=1458e2
b

145800.0

The size of float data type fixed. Float data type is developed by following the rules given `IEEE`. The size of float data type is `8 bytes`

In [47]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [48]:
a=1.80e309
a

inf

In [49]:
a=1.1234656789589586258
a

1.1234656789589585

In [50]:
b=123123123123123123123
b

123123123123123123123

**Complex nummbers and complex data type**

complex number is a `numeric value` contains `two values`

`1. Real`

`2. Imag`

syntax of representation of complex number

`real+imagj`

For these complex numberss python reserves memory using complex data type.

In [51]:
a=1+2j
a

(1+2j)

In [52]:
print(type(a))

<class 'complex'>

In [53]:
a.real

1.0

In [54]:
a.imag

2.0

In [55]:
b=6j

In [56]:
type(b)

complex

In [57]:
b.real

0.0

In [58]:
b.imag

6.0

**Non numeric type**

`1. Boolean`

`2. String`

`3. None type`

Boolean values in python are represented using two keywords

`1. True`

`2. False`

In [59]:
a = True
a

True

In [60]:
type(a)

bool

In [61]:
c= true
c

NameError: name 'true' is not defined

In [62]:
True+True

2

In [63]:
False+False

0

In [64]:
True+False

1

Internal representation of Boolean `True = 1` and `False = 0`

**String data type(Collection type) and string literal**

String is a `collection of character`, it is a non numeric data type and we cannot perform `arithmetic operations` on string.

String is a `collection of character` and these characters can be `alphabets`, `digits` or `special characters`.

In python string is represented in 3 formats

1. Within single quotes

2. Within double quotes

3. Within triple single quotes or double quotes

`"str" class` or `str data type` represents string object/value.

In [65]:
name = "uday"
print(name)

uday

In [66]:
print(type(name))

<class 'str'>

In [67]:
course = 'python'
print(course)

python

In [68]:
print(type(course))

<class 'str'>

In [69]:
college = python

NameError: name 'python' is not defined

The string which contains alphabets is called `alphabetic string`.

The string which contains `alphabets`, `digits` is called `alphanumeric string`.

In [72]:
username = 'uday123'
print(username)

uday123

In [73]:
password = 'udaypython#123#$%'
print(password)

udaypython#123#$%

In [74]:
a = '25'
b = '6'

In [76]:
print(type(a))

<class 'str'>

In [77]:
print(type(b))

<class 'str'>

Within single quotes we can represent `single line string/one line string`.

Within `single quote`s we can `embbed` or `insert double quotes`.

In [79]:
# single quote ' raises syntax error

s1 = 'python

SyntaxError: unterminated string literal (detected at line 3) (3331376989.py, line 3)

In [80]:
s2 = 'python is 'easy' language'

SyntaxError: invalid syntax (294301072.py, line 1)

In [81]:
s3 = 'python is "easy" language'
print(s3)

python is "easy" language

within `double quotes` we can represent `single line string/one line string`.

within `double quotes`we can i`nsert/embbed single quotes`.

In [83]:
str1 = "python"
print(str1)

python

In [84]:
str2 = "python

SyntaxError: unterminated string literal (detected at line 1) (2731841976.py, line 1)

In [85]:
str3 = "python is "easy" language"

SyntaxError: invalid syntax (2107267986.py, line 1)

In [86]:
str4 = "python is 'easy' language"
str4

"python is 'easy' language"

within `triple single` or `double quote`s we can represent `multiline string`

In [87]:
full_stack = """python
FrontEnd
BackEnd
Database
Tools
Projects"""

In [88]:
print(full_stack)

python
FrontEnd
BackEnd
Database
Tools
Projects

In [89]:
Full_Stack = '''python
FrontEnd
BackEnd
Database
Tools
Projects'''

In [90]:
print(Full_Stack)

python
FrontEnd
BackEnd
Database
Tools
Projects

**NOTE** 
There is `no single character data type` in python, `Single character` also represented as string.

**Escape Sequences**

Escape sequences are `special characters` having special meaning in python language. These characters are `inserted within string`.

In [93]:
print("\\")

\

In [94]:
print('\'')

'

In [95]:
print("a\tb\tc\td")

a	b	c	d

In [96]:
print("python is \"easy\" language")

python is "easy" language

In [97]:
print('python is \'easy\' language')

python is 'easy' language

In [98]:
print("python \nprogramming\nlanguage")

python
programming
language

In [99]:
print("python \bN")

pythonN

In [100]:
# Representing UNICODE characters

print("\u0905")
print("\u0906")
print("\u090A")
print("\u0c05")

अ
आ
ऊ
అ

**NoneType**

NoneType represents `None value`

None is a keyword which represent `null value/missing value/no value`

In [101]:
a=10
print(type(a))

<class 'int'>

In [103]:
b=1.5
print(type(b))

<class 'float'>

In [104]:
c=None
print(type(f))

<class 'NoneType'>